body {
    background-color: lightblue;
}
h1{
    text-align: center;
    font-size: 3em;
}

#search-box h2{
    font-size: 1.5em;
}

#title {
    display: none;
}

.s-button {
    margin: 1em 2em 1em 2em;
    height:5em;
    width:11em;
    background-color: orange;
}


#search-box {
    text-align: center;


}

#slideshow {
  
    text-align: center;
}